In [5]:
#Python Variables 
savings = 100
growth_multiplier = 1.1 
desc = "compound interest"

In [6]:
year1 = growth_multiplier * savings 
print(type(year1))

<class 'float'>

In [7]:
doubledesc = desc + desc 
print(doubledesc)

compound interestcompound interest

In [9]:
#Definition of Savings and Result 
savings = 100
result = 100 * 1.10 ** 7 

#print out 
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

#definition of pi_string 
pi_string = "3.1415926"

#convert pi_string into float": pi_float
pi_float = float(pi_string)
print(pi_float)

I started with $100 and now have $194.87171000000012. Awesome!
3.1415926

In [ ]:
#Python Data Types
    #float - real numbers
    #int - integer numbers 
    #str - string, text
    #bool - True, False 

height = 1.73 
tall = True 

#Each variable represents single value 
    #Problem 
Data Science: Many data points 
Ex, Height of entire family

Height1 = 1.73
Height2 = 1.68    #<---- Inconvenient 
Height3 = 1.71
Height4 = 1.89

#Python List Type

[a,b,c,d] Contain any type 

Specific Functionality
Specific Behavior

In [1]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = [hall, kit, liv, bed, bath]

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [2]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom",  bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [3]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [1]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area =(areas[3] + areas[7])

# Print the variable eat_sleep_area
print(eat_sleep_area)

28.75

In [2]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs = areas[0:6]

# Use slicing to create upstairs
upstairs = areas[6:10]

# Print out downstairs and upstairs
print(downstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]

In [7]:
# Create the areas list and make some changes
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ["poolhouse", 24.5]

# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ["garage", 15.45]

In [8]:
areas_2

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5,
 'poolhouse',
 24.5,
 'garage',
 15.45]

In [9]:
del(areas_2[-4:-2])

In [10]:
areas_2

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5,
 'garage',
 15.45]

In [11]:
#Functions
var1 = [1, 2, 3, 4]
var2 = True

# Print out type of var1
print(type(var1))

# Print out length of var1
print(len(var1))

# Convert var2 to an integer: out2
out2 = int(var2)

<class 'list'>
4

In [1]:
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Paste together first and second: full
full = (first + second)

# Sort full in descending order: full_sorted
full_sorted = sorted(full, reverse = True)

# Print out full_sorted
print(full_sorted)

[20.0, 18.0, 11.25, 10.75, 9.5]

In [2]:
# string to experiment with: place
place = "poolhouse"

# Use upper() on place: place_up
place_up = place.upper()

# Print out place and place_up
print(place)
print(place_up)

# Print out the number of o's in place
print(place.count('o'))

poolhouse
POOLHOUSE
3

In [3]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0
print(areas.index(20.0))

# Print out how often 9.50 appears in areas
print(areas.count(9.50))

2
1

In [4]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)

# Print out areas
print(areas)

# Reverse the orders of the elements in areas
areas.reverse()

# Print out areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]

In [1]:
#Packages

# Definition of radius
r = 0.43

# Import the math package
import math

# Calculate C
C = 2 * r * math.pi

# Calculate A
A = math.pi * r ** 2

# Build printout
print("Circumference: " + str(C))
print("Area: " + str(A))

Circumference: 2.701769682087222
Area: 0.5808804816487527

In [2]:
# Definition of radius
r = 192500

# Import radians function of math package
from math import radians

# Travel distance of Moon over 12 degrees. Store in dist.
dist = r * radians(12)

# Print out dist
print(dist)

40317.10572106901

In [3]:
# Create list baseball
baseball = [180, 215, 210, 210, 188, 176, 209, 200]

# Import the numpy package as np
import numpy as np 

# Create a numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out type of np_baseball
print(type(np_baseball))

<class 'numpy.ndarray'>

In [5]:
# height is available as a regular list
  
# Import numpy
#import numpy as np

# Create a numpy array from height_in: np_height_in
#np_height_in = np.array(height_in)

# Print out np_height_in
#print(np_height_in)

# Convert np_height_in to m: np_height_m
#np_height_m = np_height_in * 0.0254

# Print np_height_m
#print(np_height_m)

In [7]:
# height and weight are available as regular lists

# Import numpy
#import numpy as np

# Create array from height_in with metric units: np_height_m
#np_height_m = np.array(height_in) * 0.0254

# Create array from weight_lb with metric units: np_weight_kg
#np_weight_kg = np.array(weight_lb) * 0.453592

# Calculate the BMI: bmi
#bmi = np_weight_kg / np_height_m ** 2

# Print out bmi
#print(bmi)